header {
    height: 90vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.315)),url(img-about/vila.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 55px;
    padding-top: 20%;
}
.at {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 40px #ffbb00;
}

.cnt {
    border: 1px solid #ffbb00;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 40px;
    padding: 50px;
    background-color: #ffbb00;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 300ms;
    display: flex;
}
.cnt:hover {
    scale: 1.01 ;
}

.cnt img {
    width: 700px;
    margin-right: 20px;
    border-radius: 40px;
}

.tx {
    color: white;
    text-shadow: 0 0 20px #4d3800;
    margin-top: auto;
    margin-bottom: auto;
}
.fx {
    background-image: url(/img-about/fx1.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fx1 {
    background-image: url(/img-about/fx2.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fx2 {
    background-image: url(/img-about/fx3.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px;
    padding-top: 8%;
}
.cnt1 {
    border: 1px solid #ffbb00;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    border-radius: 40px;
    padding: 50px;
    background-color: #ffbb00;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 300ms;
    display: flex;
}
.cnt1:hover {
    scale: 1.01 ;
}

.cnt1 img {
    width: 600px;
    margin-right: 20px;
    border-radius: 40px;
}
.quest {
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}
.quest h3 {
    font-size: 40px;
}
.quest input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 270px;
}
.quest textarea {
    border-radius: 10px;
    padding: 5px;
    font-family: none;
    font-weight: 500;
}
.quest textarea::placeholder {
    font-family: none;
    font-weight: 500;
}
.b1 {
    padding: 10px;
    margin-top: 1rem;
    width: 150px;
    border: 1px solid black;
    background-color: #ffe6a0;
    border-radius: 10px;
    transition: all 300ms;
}
.b1:hover {
    padding: 10px;
    margin-top: 1rem;
    width: 150px;
    border: 1px solid black;
    background-color: #ffbb00;
    border-radius: 10px;
    scale: 1.1;
}
.b1:active {
    padding: 10px;
    margin-top: 1rem;
    width: 150px;
    border: 1px solid black;
    background-color: #ffbb00;
    border-radius: 10px;
    scale: 1;
}
@media screen and (max-width: 1200px) {
    .cnt {
        flex-direction: column;
        align-items: center;
    }
    .cnt img {
        width: 600px;
        margin-bottom: 1.5rem;
        border-radius: 40px;
    }
    .cnt1 {
        flex-direction: column;
        align-items: center;
    }
    .cnt1 img {
        width: 600px;
        margin-bottom: 1.5rem;
        border-radius: 40px;
    }
}
@media screen and (max-width: 767px) {
    .cnt {
        flex-direction: column;
        align-items: center;
    }
    .cnt img {
        width: 500px;
        margin-bottom: 1.5rem;
        border-radius: 40px;
    }
    .cnt1 {
        flex-direction: column;
        align-items: center;
    }
    .cnt1 img {
        width: 500px;
        margin-bottom: 1.5rem;
        border-radius: 40px;
    }
}
@media screen and (max-width: 535px) {
    .cnt {
        flex-direction: column;
        align-items: center;
    }
    .cnt img {
        width: 0px;
        margin-bottom: 1.5rem;
        border-radius: 40px;
        visibility: hidden;
    }
    .cnt1 {
        flex-direction: column;
        align-items: center;
    }
    .cnt1 img {
        width: 0px;
        margin-bottom: 1.5rem;
        border-radius: 40px;
        visibility: hidden;
    }
}